.container {
    width: 32%;
    height:fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
}
.button {
    border: none;
    color: white;
    padding: 1px 30px;
    text-align: center;
    text-decoration: none;
    align-self: flex-end;
    font-size: 16px;
    cursor: pointer;
    background-color: #048b09;
    margin-left: 530px;
      
  }
  .inputs{
    display: flex;
    flex-direction: column;

  }
  .mat-raised-button{
    border-radius:50px;
    line-height: 30px;
    left: 20px;
    top: 20px;
  }
