<app-search-bar (newSearchTermEvent)="addText($event)"></app-search-bar>

<div class="inputs">
  <app-input-field
    [item]="item"
    *ngFor="let item of listItems"
    (delete)="removeEmptyStrings($event)"
  ></app-input-field>
  
</div>

<div class="btn-class">
  <button
    mat-raised-button
    color="accent"
    class="button"
    (click)="analyzeIngredients()"
  >
    Analyze
  </button>
</div>

<!-- <div *ngIf="this.ingredientAnalysis!==undefined">
  <p *ngFor="let inAna of ingredientAnalysis">{{inAna.totalNutrients.FAT.quantity | async}}</p>
</div> -->